#logo {
    display: flex;
    align-items: center;
}

#logo img {
    margin-left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #03CEA4;
    object-fit: cover;
}

img.logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
