.card-project { /* Irá alinhar o que está dentro de <figure> */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-sizing:content-box;
}

.caption {
    margin-top: 10px;
    color: #FFF;
    font-size: 20px;
}

.card-project img.logo {
    width: 250px;
    height: 250px;
    border: 3px solid #345995;
    border-radius: 50%;
}


/* 
O card-project não coloca o tamanho na imagem, ele coloca o tamanho na caixa 
do elemento <figure> 
*/

