.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-wrapper .email {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 50px;
}