.section {
    background-color: #03CEA4;
    border-bottom: 10px solid #345995;
    padding-top: 50px;
    padding-bottom: 100px;    
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.-projects {
    background-color: #345995;
}

.section.-bgBlack {
    background-color: #000;
}